extends ./master.jade

block stylesheets
  link(rel='stylesheet', href='styles/app.css', type='text/css')
  link(rel='stylesheet', href='styles/board.css', type='text/css')

block scripts
   script(src='scripts/require.js', data-main='main-conf',)

block navigation
   a(href='profile.html') Profil
   a(href="/auth/google/signout") Wyloguj

block info
  h3 Lista Gier
  div.formLayout.scroll
    table
      thead
        tr
          th Gra
          th Data utworzenia
          th 
      tbody
        // ko foreach: model.games
        tr
          td
            a(data-bind="attr: { href: 'board.html?gameId=' + gameId }, text: gameId")
          td
            label.center(data-bind='text: creationDate')
          td
            a.button(data-bind="attr: { href: 'board.html?gameId=' + gameId + '&join=1'}, text: joinAction()")
        // /ko
        

block buttons
  button.commandButton.acceptSize(data-bind='click: newGameClick') Nowa gra
