doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    title Literki - #{title}
    block stylesheets
    block scripts
  body
    div.borderBox(id='boardDiv')
      block board
    div.borderBox(id='infoDiv')
      div.contentBox
        #navigationbox
          a(href="profile.html") Profil
          a(href="/auth/google/signout") Wylogowanie
        h1.center Literki
        br
        block info
        #buttonsDiv
          block buttons

    #dialogbox
      div
        #dialogboxhead
        #dialogboxbody
        #dialogboxfoot
          button.commandButton.cancelBackground(id="cancelButton", data-bind='click:cancelClick') Anuluj
          button.commandButton(id="okButton", data-bind='click:okClick') OK
    #dialogoverlay
