doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    title Literki - #{title}
    block stylesheets
    block scripts
  body
    div.borderBox#boardDiv
      block board
    div.borderBox#infoDiv
      div.contentBox
        #tableDiv
          #navigationDiv
            block navigation
          #contentDiv
            #headerDiv
              h1.center Literki
              br
            #formDiv
              block info
          #buttonsDiv
            block buttons

    #dialogbox
      div
        #dialogboxhead
        #dialogboxbody
        #dialogboxfoot
          button.commandButton.cancelBackground#cancelButton(data-bind='click:dialog_cancelClick') Anuluj
          button.commandButton#okButton(data-bind='click:dialog_okClick') OK
    #dialogoverlay
