extends ./master.jade

block stylesheets
  link(rel='stylesheet', href='styles/app.css', type='text/css')
  link(rel='stylesheet', href='styles/board.css', type='text/css')

block scripts
   script(src='scripts/require.js', data-main='newgame-conf',)

block info
   h3 Nowa gra

block buttons
  button.commandButton.cancelBackground(data-bind='click:cancelClick') Anuluj
  button.commandButton.acceptSize(data-bind='click:newGameClick') Rozpocznij