extends ./master.jade

block stylesheets
  link(rel='stylesheet', href='styles/app.css', type='text/css')
  link(rel='stylesheet', href='styles/board.css', type='text/css')

block scripts
   script(src='scripts/require.js', data-main='profile-conf',)

block info
  h3 Profil gracza
  div.formLayout
    label Nazwa użytkownika
    input(data-bind='textInput: model.userName', type='text')
    br
    label Adres email
    input(data-bind='textInput: model.email', type='text')
    br
    label Domyślny język
    select(data-bind="options: model.availableLanguages, optionsText: 'description', value model.defaultLanguage")


block buttons
  button.commandButton.cancelBackground(data-bind='click: cancelClick') Anuluj
  button.commandButton.acceptSize(data-bind='click: okClick') Zmień