extends ./master.jade

block stylesheets
  link(rel='stylesheet', href='styles/app.css', type='text/css')
  link(rel='stylesheet', href='styles/board.css', type='text/css')

block scripts
     script(src='components/requirejs/require.js', data-main='scripts/main-conf')
     
block navigation
   a(href='profile.html') Profil
   a(href="/auth/google/signout") Wyloguj

block info
  h3 Lista Gier
  div.formLayout
    table.scroll
      thead
        tr
          th Gra
          th Data utworzenia
          th 
      tbody
        //each game in games
        // tr
        //  td
        //    a(href='board.html?gameId=' + game.gameId)= game.gameId
        //    td
        //     label.center()= game.creationDate.toString().slice(0, 16)
        //    td
        //     a.button(href='board.html?gameId=' + game.gameId + '&join=1') 'Dołącz'
       
        // ko foreach: model.games
        tr
          td
            a(data-bind="attr: { href: 'board.html?gameId=' + gameId }, text: gameId")
          td
            label.center(data-bind='text: creationDate')
          td
            a.button(data-bind="attr: { href: 'board.html?gameId=' + gameId + '&join=1'}, text: joinAction()")
        // /ko
        
        

block buttons
  button.commandButton.acceptSize(data-bind='click: newGameClick') Nowa gra
