.borderBox {
    background: #194d2a;
    border-style: solid;
    border-color: #000000;
	border-radius: 7px; 
    padding: 10px;
}

.contentBox {
    background: #FFFFCC;
    margin: 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#boardDiv {
    white-space:normal;
    float: left;
    width: 48%;
    height: 95%;
    float: left;
    margin: 5px;
}

#infoDiv {
    white-space:normal;
    position: relative;
    float: left;
    width: 47%;
    height: 95%;
    margin: 5px;
}

.playerDiv {
    border: 1px solid black; 
    white-space:normal;
    font-weight: bold;
    font-size:x-large;
    width:200px;
}

.activeplayerDiv {
    border: 2px solid green; 
    white-space:normal;
    font-weight: bold;
    font-size:x-large;
    width:200px;
}

#messageDiv {
    vertical-align: bottom;
}

#buttonsDiv {
    position: absolute;
    bottom: 0;
    right: 0;
}

#historyDiv {
     max-height: 300px;
     overflow-y: scroll;
}