body {
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    display:block;
    text-align: center;
}

.commandButton {
}
 
